.navWrapper {
  height: 8vh;
  background-color: var(--primary_color_dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --nav-with: 20em;
}

.profile {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.profileDetails {
  position: relative;
  height: 100%;
  width: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileDetails::after {
  top: 30px;
  right: -16px;
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-color: gray transparent transparent transparent;
  transition: all 1s;
}

.profileDetails:hover::after {
  top: 20px;
  border-color: transparent transparent gray transparent;
}

.dropDown {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  top: 4em;
  left: 20em;
  right: 2em;
  background-color: var(--secondary_color);
  left: 5em;
  width: 10em;
  height: 15em;
  border-radius: 20px;
}
.profileDetails:hover .dropDown {
  display: flex;
}

.dropDown::before {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-color: transparent transparent var(--secondary_color) transparent;
  top: -10px;
}
.dropDown::after {
  position: absolute;
  content: "";
  width: 50%;
  background-color: aqua;
  left: 10%px;
  bottom: 7px;
  height: 5px;
  border-radius: 2px;
}
.dropDown button {
  outline: none;
  border: none;
  background-color: var(--primary_color_dark);
  transition: all 0.2s;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 10px;
  color: var(--primary_color_light);
}

.dropDown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboardNav {
  width: var(--nav-with);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  width: var(--nav-with);
  position: relative;

  height: 80%;
  display: flex;
  background-color: var(--primary_color_light);
  padding: 0.5em;
  border-radius: 20px;
  justify-content: space-around;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--nav-with/3));
}

.link a {
  text-decoration: none;
  color: gray;
  margin-top: 1rem;
}

.link.selected a {
  color: aqua;
  font-weight: bold;
}

.nav .link:nth-child(1).selected ~ .indicator {
  transform: translateX(1.5em);
}
.nav .link:nth-child(2).selected ~ .indicator {
  transform: translateX(7.4em);
}

.nav .link:nth-child(3).selected ~ .indicator {
  transform: translateX(14.4em);
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.link .icon {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: all 0.5s;
}
.link.selected .icon {
  object-fit: contain;
  opacity: 1;
  top: -15px;
}
.indicator {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary_color_light);
  border: 5px solid var(--primary_color_dark);
  top: -50%;
  left: 0%;
  transition: all 0.5s;
}

.indicator::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  top: 45%;
  left: -60%;
  border-radius: 0px 10px 0 0;
  box-shadow: 0px -10px var(--primary_color_dark);
}

.indicator::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  top: 45%;
  right: -60%;
  border-radius: 10px 0px 0 0;
  box-shadow: 0px -10px var(--primary_color_dark);
}
