.drawerBtnWrapper {
  height: 100%;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawerBtn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.drawerBtn img {
  object-fit: contain;
}
