.App {
  width: 100vw;
  min-height: 120vh;
  background-color: var(--primary_color_light);
}

.App main {
  position: relative;
  background-color: black;
  /* background-image: url("../public/dashboard.png");
  background-repeat: no-repeat;
  background-position: center; */
}
