* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}
*::-webkit-scrollbar {
  display: none;
}
:root {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Serif", serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary_color_light: white;
  --primary_color_dark: #282c34;
  --secondary_color: black;
  --active_color: aqua;
  --inactive_color: gray;
  --bg_color: #f5f5f5;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  overflow-x: hidden;
}
