<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><h1>Hello <%= name%>,</h1></header>
    <main>
      <h3>Welcome To Lotto Lens</h3>
      <p>Enter the code below on Lotto Lens to verify your account and keep it for future purpose</p>
      <h3><%= code%></h3>
      <p>Ignore this message if you did not regster on the platform</p>
    </main>
  </body>
</html>
