<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><h1>Hello <%= name%>,</h1></header>
    <h3>Welcome To Lotto Lens</h3>
    <p>Enter the code below on Lotto Lens to verify your account</p>
    <p><strong><%= code%></strong></p>
    <p>Ignore this message if you did not regster on the the platform</p>
  </body>
</html>
